test.csv
sample_submission.csv
train.csv
17flowers.gz
Self Test/
17flowers.tgz
JEOPARDY_CSV.csv
creditcard.csv
~/tensorflow_datasets/mnist/3.0.1/features.json
~/tensorflow_datasets/mnist/3.0.1/mnist-test.tfrecord-00000-of-00001
~/tensorflow_datasets/mnist/3.0.1/mnist-train.tfrecord-00000-of-00001
~/tensorflow_datasets/mnist/3.0.1/dataset_info.json
